{{ define "blog" }}
<title>Blog</title>
<div class="p-4 sm:ml-80">
   <div class="p-4 mx-16 rounded-lg dark:border-gray-700 mt-14">
      <section class="grid grid-cols-1 mb-4 home-sections" >
          <h1 class="text-5xl text-gray-900 dark:text-white pb-2">Blog</h1>
          <p class="text-gray-500 dark:text-gray-400">Check out what I've been building</p>
      </section>
      <section class="grid grid-cols-1 md:grid-cols-3 gap-6">
          {{ range .projects }}
          <div class="p-6 rounded-3xl shadow-md hover:shadow-lg transition-shadow duration-300 dark-gray-bg">
              <div class="flex justify-between items-center">
                  <h2 class="text-2xl font-bold text-gray-900 dark:text-white">{{ .Name }}</h2>
                  {{ if .Link }}
                  <a href="{{ .Link }}" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                      </svg>
                  </a>
                  {{ end }}
              </div>
              <p class="text-gray-700 dark:text-gray-300 mt-3 text-base">{{ .Description }}</p>
              <div class="mt-6 ">
                  {{ range .Tags }}
                  <span class="inline-block bg-gray-200 text-gray-800 text-sm px-3 py-1 rounded-full dark:bg-gray-700 dark:text-gray-300 mr-2 mb-2">{{ . }}</span>
                  {{ end }}
              </div>
          </div>
          {{ end }}
      </section>
   </div>
</div>
{{ end }}
