{{ define "blog-list" }}
<title>alexhobeychi.com</title>
   <div class="lg:ml-80 lg:px-12 p-6 rounded-lg dark:border-gray-700 mt-16">
        <section class="grid grid-cols-1 mb-4">
            <h1 class="text-5xl text-gray-900 dark:text-white pb-2 lg:mt-0 mt-4">Notes</h1>
            <p class="text-gray-500 dark:text-gray-400 font-thin">Check out what I've been writing</p>
        </section>
        <section class="grid grid-cols-1 md:grid-cols-1 gap-6">
            {{ range .blogs }}
            <div class="block dark:bg-dark-card bg-light-card p-4 rounded-lg shadow-md cursor-pointer"
                 hx-get="/blog/{{ .Id }}" 
                 hx-target="#content-section" 
                 hx-push-url="true"
                 hx-swap="innerHTML">
                <div class="flex justify-between items-center">
                    <h3 class="text-xl font-semibold text-gray-700 dark:text-gray-200">{{ .Title }}</h3>
                    <span class="inline-flex items-center text-sm text-gray-500 dark:text-gray-400">
                        {{ .PublishedDate }}
                    </span>
                </div>
                <p class="text-gray-600 dark:text-gray-300 mt-2">{{ .Description }}</p>
            </div>
            {{ end }}
        </section>
    </div>
{{ end }}
