{{ define "home" }}
<title>Home</title>
<div class="p-4 sm:ml-80">
   <div class="p-4 mx-16 rounded-lg dark:border-gray-700 mt-14">

      <!-- Personal Description section -->
      <section class="grid grid-cols-1 gap-4 mb-4 pt-3 home-sections">
         <h1 class="text-6xl text-white md-gray-bg">Hi I'm Alex</h1>
         <p class="text-gray-400">an enthusiastic, self-motivated, reliable, responsible and hard working person. I am a
            mature team worker and adaptable to all challenging situations. I am able to work well both in a team
            environment as well as using own initiative. I am able to work well under pressure and adhere to strict
            deadlines</p>

         <div class="flex space-x-4">
            <button class="px-4 py-2 font-semibold text-white bg-gray-500 rounded hover:bg-blue-700">About Me</button>
            <button class="px-4 py-2 font-semibold text-white bg-gray-500 rounded hover:bg-green-700">Get in
               Touch</button>
         </div>
      </section>

      <!-- Blog section contain heading, subheading and links -->
      <section class="grid grid-cols-1 mb-4 home-sections" >
          <h1 class="text-4xl text-gray-900 dark:text-white pb-2">My Blog</h2>
          <p class="text-gray-500 dark:text-gray-400">Check out my latest posts</p>
         <a href="/blog" hx-get="/blog" hx-target=".content-section" hx-push-url="true"
            class="mt-4 px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700">View
            Posts</a>
      </section>

        <!-- Projects section contain heading, subheading and links -->
        <section class="grid grid-cols-1 mb-4 home-sections" >
         <h1 class="text-4xl text-gray-900 dark:text-white pb-2">Projects</h2>
         <p class="text-gray-500 dark:text-gray-400">Check out what I've been building</p>
        <a href="/blog" hx-get="/blog" hx-target=".content-section" hx-push-url="true"
           class="mt-4 px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700">View
           Posts</a>
     </section>
   </div>
</div>

{{ end }}