{{ define "projects" }}
<title>Projects</title>
<title>Home</title>
<div class="p-4 sm:ml-80">
   <div class="p-4 mx-16 rounded-lg dark:border-gray-700 mt-14">

      <!-- Blog section contain heading, subheading and links -->
      <section class="grid grid-cols-1 mb-4 home-sections" >
          <h1 class="text-5xl text-gray-900 dark:text-white pb-2">Projects</h2>
          <p class="text-gray-500 dark:text-gray-400">Check out what I've been building</p>
      </section>
   </div>
</div>

{{ end }}
