{{ define "header" }}
<nav class="fixed top-0 z-40 w-full bg-opacity-50 md-gray-bg border-b border-gray-200 dark:border-gray-700">
    <div class="px-3 py-5 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
              <span class="sr-only">Open sidebar</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                 <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
              </svg>    
           </button>
        </div>
        <div class="hidden w-full md:block md:w-auto grid grid-cols-3 gap-4" id="navbar-default">
        <div class="grid grid-cols-3 gap-4">
          <div class="text-center">
                <a href="/" hx-get="/project" hx-target=".content-section" hx-push-url="true" class="block py-2 px-2 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0  md:p-0 dark:text-white  dark:hover:text-white md:dark:hover:bg-transparent">Projects</a>
          </div>
          <div class="text-center">
                <a href="/" hx-get="/resume" hx-target=".content-section" hx-push-url="true" class="block py-2 px-2 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0  md:p-0 dark:text-white   dark:hover:text-white md:dark:hover:bg-transparent">About</a>
          </div>
          <div class="text-center">
                <a href="/" hx-get="/contact" hx-target=".content-section" hx-push-url="true" class="block py-2 px-2 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md md:p-0 dark:text-white  dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </nav>
{{ end }}
