{{ define "navbar" }}
<nav class="hidden lg:block lg:w-auto" id="navbar-default">
    <div class="grid grid-cols-3 gap-2">
        <div class="text-center">
            <a hx-get="/project" hx-target="#content-section" hx-push-url="true" hx-swap="innerHTML show:window:top"
                class="block py-2 px-2 dark:text-gray-200 rounded-sm hover:bg-gray-800 lg:hover:bg-transparent lg:border-0 lg:p-0 dark:hover:text-blue-400  hover:text-blue-700 cursor-pointer text-lg font-medium">Projects</a>
        </div>
        <div class="text-center">
            <a hx-get="/blog" hx-target="#content-section" hx-push-url="true" hx-swap="innerHTML show:window:top"
                class="block py-2 px-2 dark:text-gray-200 rounded-sm hover:bg-gray-800 lg:hover:bg-transparent lg:border-0 lg:p-0 dark:hover:text-blue-400  hover:text-blue-700 cursor-pointer text-lg font-medium">Notes</a>
        </div>
        <div class="text-center">
            <a hx-get="/resume" hx-target="#content-section" hx-push-url="true" hx-swap="innerHTML show:window:top"
                class="block py-2 px-2 dark:text-gray-200 rounded-sm hover:bg-gray-800 lg:hover:bg-transparent lg:border-0 lg:p-0 dark:hover:text-blue-400  hover:text-blue-700 cursor-pointer text-lg font-medium">About Me</a>
        </div>
    </div>
</nav>
{{ end }}
