{{ define "sidebar" }}
<aside id="logo-sidebar"
    class="fixed top-0 left-0 z-50 w-80 h-screen pt-4 pl-8 transition-transform -translate-x-full border-r border-gray-200 sm:translate-x-0 dark:border-gray-700 dark-gray-bg"
    aria-label="Sidebar">
    <!-- Added dark-gray-bg class -->
    <div class="h-full px-3 pb-4 overflow-y-auto dark-gray-bg">
        <!-- Added dark-gray-bg class -->
    <a href="#" hx-get="/home" hx-target=".content-section" hx-indicator="#loading-spinner" hx-push-url="true" hx-swap="innerHTML show:window:top"
    class="flex items-center space-x-2 focus:border-sky-500">
        <h1 class="text-white text-2xl font-semibold mb-6 focus:border-sky-500">Alex Hobeychi</h1>
    </a>
        <ul class="space-y-2 font-medium">
            <li>
                <h1 class="text-white pb-4">About Me</h1>
                <p class="text-gray-500 rounded-lg dark:text-gray-300">Ipsem sdkajsdkljasdlkjsa kldasj lkdjas
                    kldjaskldjaslkd aslkdj aklsdjaklsd jalksj </p>
            </li>
            <li>
                <hr class="my-6 border-gray-900 dark:border-gray-700">
                <!-- Added my-6 for increased space -->
            </li>
            <li>
                <h1 class="text-white pb-4">Get in Touch</h1>
                <p class="text-gray-500 rounded-lg dark:text-gray-300">Ipsem sdkajsdkljasdlkjsa kldasj lkdjas
                    kldjaskldjaslkd aslkdj aklsdjaklsd jalksj </p>
            </li>
            <li>
                <hr class="my-6 border-gray-900 dark:border-gray-700">
                <!-- Added my-6 for increased space -->
            </li>
            <li>
                <h1 class="text-white pb-4">Favorites</h1>
                <p class="text-gray-500 rounded-lg dark:text-gray-300">Ipsem sdkajsdkljasdlkjsa kldasj lkdjas
                    kldjaskldjaslkd aslkdj aklsdjaklsd jalksj </p>
            </li>
        </ul>
    </div>
</aside>
{{ end }}
